* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    
    
}

img {
    max-width: 100%;
    display: block;
    height:10px;

}

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    height:10px;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.4rem;
}

.text-light {
    color: rgb(255, 255, 255);
}

.subtitle {
    font-weight: bold;
    color: rgb(26, 149, 165);
}


header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;

    visibility:hidden;
}

header nav li {
    padding-left: 0px;
}

header nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: smaller;
    color: #e2e2e2;
}

header nav a:hover {
    color: #e49800;
}

header {
    text-align: center;
    padding: 16px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: justify;

    visibility: hidden;
    position:static;
    
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article-container{
    display: block;
    padding-top: 5px;
}
.article {
    position:absolute;
    margin: 5px 0px 20px;
    padding: 10px 10px 10px 10px;  
    width:80%;
    border: 1px solid rgb(73, 192, 192);
    border-radius: 8px;
    height:10px;
}

.article-content {
    margin-top: 5px;
}

.contact {
    margin-top: 8px;
}

img.image {
    margin-bottom: 10px;
}



/* style dla ekranu 768px lub więcej */
@media (min-width: 768px) {
    .container-flex {
        flex-direction: row;
    }

    main {
        width: 80%;
    }

    aside {
        width: 20%;
        margin-left:20px;
        
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: #e2e2e2;
    }
    
    a:hover {
        color: #e49800;
    }

    .article-recent {
        flex-direction: row;
    }

    .article-recent-main {
        width: 65%;
    }

    .article-recent-secondary {
        width: 30%;
    }

    .article-image {
        width: 100%;
        min-height: 250px;
        align-items: center;
        object-fit: cover;
    }
}

/* ekrany mniejszy niż 768px */
@media (max-width: 768px) {
    nav ul {
        margin-top: 30px;
    }

    article {
        margin-top: 50px;
    }

    article h2 {
        margin-top: 10px;
    }
}



.sidebar .widget {
    border: 1px solid rgb(73, 192, 192);
    border-radius: 8px;
    margin-top: 10px;;
    position:fixed;
    
}

.sidebar .widget-img {
    margin: 7px 0;
}

.sidebar .widget-menu {
    list-style: none;
   
}

.sidebar .widget-menu li {
    margin: 5px;
}

footer {
    background-color: #555555;
    
    text-align: center;
    padding: 40px;
    margin-top: 20px;

    visibility: hidden;

}

.copyright {
    text-align: left;
    color:rgb(233, 233, 233);
}

.element {
    width: 400px;
    position:fixed;
    top:-100px;
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    cursor: default;

}



.element:hover {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);
}

    .element .number {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 12px;
        color: rgba(127,255,255,0.75);
    }

    .element .symbol {
        position: absolute;
        top: 40px;
        left: 0px;
        right: 0px;
        font-size: 60px;
        font-weight: bold;
        color: rgba(255,255,255,0.75);
        text-shadow: 0 0 10px rgba(0,255,255,0.95);
    }

    .element .details {
        position: absolute;
        bottom: 15px;
        left: 0px;
        right: 0px;
        font-size: 12px;
        color: rgba(127,255,255,0.75);
    }
























































